body {
<<<<<<< HEAD
  font-family: 'Rubik', sans-serif;
  background-color: #DAE0E6;
=======
  
  background-color: #DAE0E6;
  font-family: Arial, Helvetica, sans-serif;
>>>>>>> 9050eb0f941cc3fc2dd9181807f66d63637b4bed
}

h1,
h2,
h3,
h4,
h5,
h6 {
  
  font-family: Arial, Helvetica, sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.modalPost {
  background-color: "a0d080";
}














