.card > .img-container > img {
    position: relative;
    bottom: 65px;
    left: 20px
    
}
.card > .content > .username {
    padding: 20px;
    position: relative;
    bottom: 80px;
   
}

.card > .content > .counts {
    margin-left: 20px;
    position: relative;
    bottom: 50px;
   
}